* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: white black; 
}

*::-webkit-scrollbar {
  width: 0.87vw;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: saddlebrown;
  border-radius: 1.5vw;
  border: 0.22 solid black;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.03vw;
  background-color: black;
  animation: transitionIn 1.5s;
}

@keyframes transitionIn {
    from{
        opacity: 0;
        transform: translateY(-0.732vw);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

html{
    scroll-behavior: smooth;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

/*---------------------- Body section  ----------------------*/
.mainbo{
  font-weight: 600;
  margin: 5px;
}

/*---------------------- Footer section  ----------------------*/
.footer-area {
  position: relative;
  z-index: 1;
  background-color: #fff;
  border-top: 0px solid #fff;
  background-repeat: repeat; }
  .footer-area .single-footer-widget {
    position: relative;
    z-index: 1; }
    .footer-area .single-footer-widget .widget-title {
      display: block;
      margin-top: 30px;
      margin-bottom: 30px; }
      .footer-area .single-footer-widget .widget-title h4 {
        font-weight: 900;
        color: #000;
        margin-bottom: 1;
        line-height: 0; }
    .footer-area .single-footer-widget .widget-content p {
      font-weight: 600;
      margin-bottom: 0;
      color: #000; }
    .footer-area .single-footer-widget .widget-content ul li a {
      display: block;
      color: #808080;
      font-size: 1rem;
      margin-bottom: 20px;
      font-weight: 600;
      text-decoration: none; }
      .footer-area .single-footer-widget .widget-content ul li a:focus, .footer-area .single-footer-widget .widget-content ul li a:hover {
        color: #4a1a00; }


/*---------------------- Contact section  ----------------------*/
.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
  transition: 0.6s;
}
 
.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:95%;
  max-width:1000px;
  height:600px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family: 'varinonormal', Arial, sans-serif;

}

.popup .content p {
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 30px;
  font-size: 16px;
}

.popup .content h1 {
  line-height: 70px;
}

.popup .content h2 {
  line-height: 70px;
  position: absolute;
  text-align: left;
  top: 270px;
  left: -50px;
  font-size: 23px;
  transform: rotate(270deg);
}

.popup .content p.emailtxt{
    font-size: 52px;
    font-weight: 700;
    color: #424242;
    position: absolute;
    top: 278px;
    left: 270px;
}

.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:27px;
  text-align:center;
  border-radius:50%;
}
 
.popup.active .overlay {
  display:block;
}
 
.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}